In [1]:
import numpy as np
import pandas as pd

In [64]:
# 读取文件
# pandas会默认把第一行当做列名,如果第一行不是列名,请指定列名
tt = pd.read_csv('titanic_train.csv')
#tt = pd.read_csv('titanic_train_no_columns.csv',names=['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp','Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])
print('类型:',type(tt))
print('矩阵结构:',tt.shape)
print('矩阵中各列数据类型:\n',tt.dtypes)
print('矩阵列名集合:',tt.columns)
print('矩阵列名集合:',tt.columns.tolist())

类型: <class 'pandas.core.frame.DataFrame'>
矩阵结构: (891, 12)
矩阵中各列数据类型:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
矩阵列名集合: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
矩阵列名集合: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [21]:
# 读取数据
print('读取头部几行:\n',tt.head())
print('读取头部10行:\n',tt.head(10))
print('读取尾部几行:\n',tt.tail())
print('读取尾部10行:\n',tt.tail(10))
print('按行指定一个范围索引读取,读取索引1至索引5的行数据:\n',tt.loc[1:5])
print('根据行索引读取指定的几行,读取索引[1,3,5]的行数据:\n',tt.loc[[1,3,5]])
print('按列读取数据,读取某一列数据:\n',tt['Name'])
print('按列读取数据,读取多列数据:\n',tt[['Name','Sex','Age']])

读取头部几行:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
读取头部10行:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
读取尾部几行:
      PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
读取尾部10行:
      PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q
按行指定一个范围索引读取,读取索引1至索引5的行数据:
    PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
根据行索引读取指定的几行,读取索引[1,3,5]的行数据:
    PassengerId  Survived  Pclass  \
1            2         1       1
3            4         1       1
5            6         0       3

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
5                                   Moran, Mr. James    male   NaN      0

   Parch    Ticket     Fare Cabin Embarked
1      0  PC 17599  71.2833   C85        C
3      0    113803  53.1000  C123        S
5      0    330877   8.4583   NaN        Q
按列读取数据,读取某一列数据:
 0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
按列读取数据,读取多列数据:
                                                   Name     Sex   Age
0                              Braund, Mr. Owen Harris    male  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
5                                     Moran, Mr. James    male   NaN
6                              McCarthy, Mr. Timothy J    male  54.0
7                       Palsson, Master. Gosta Leonard    male   2.0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0
11                            Bonnell, Miss. Elizabeth  female  58.0
12                      Saundercock, Mr. William Henry    male  20.0
13                         Andersson, Mr. Anders Johan    male  39.0
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0
16                                Rice, Master. Eugene    male   2.0
17                        Williams, Mr. Charles Eugene    male   NaN
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0
19                             Masselmani, Mrs. Fatima  female   NaN
20                                Fynney, Mr. Joseph J    male  35.0
21                               Beesley, Mr. Lawrence    male  34.0
22                         McGowan, Miss. Anna "Annie"  female  15.0
23                        Sloper, Mr. William Thompson    male  28.0
24                       Palsson, Miss. Torborg Danira  female   8.0
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0
26                             Emir, Mr. Farred Chehab    male   NaN
27                      Fortune, Mr. Charles Alexander    male  19.0
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN
29                                 Todoroff, Mr. Lalio    male   NaN
..                                                 ...     ...   ...
861                        Giles, Mr. Frederick Edward    male  21.0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN
864                             Gill, Mr. John William    male  24.0
865                           Bystrom, Mrs. (Karolina)  female  42.0
866                       Duran y More, Miss. Asuncion  female  27.0
867               Roebling, Mr. Washington Augustus II    male  31.0
868                        van Melkebeke, Mr. Philemon    male   NaN
869                    Johnson, Master. Harold Theodor    male   4.0
870                                  Balkic, Mr. Cerin    male  26.0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0
872                           Carlsson, Mr. Frans Olof    male  33.0
873                        Vander Cruyssen, Mr. Victor    male  47.0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0
877                               Petroff, Mr. Nedelio    male  19.0
878                                 Laleff, Mr. Kristo    male   NaN
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0
881                                 Markun, Mr. Johann    male  33.0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0
883                      Banfield, Mr. Frederick James    male  28.0
884                             Sutehall, Mr. Henry Jr    male  25.0
885               Rice, Mrs. William (Margaret Norton)  female  39.0
886                              Montvila, Rev. Juozas    male  27.0
887                       Graham, Miss. Margaret Edith  female  19.0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889                              Behr, Mr. Karl Howell    male  26.0
890                                Dooley, Mr. Patrick    male  32.0

[891 rows x 3 columns]

In [25]:
# 进行计算，改变列数据,增加列
plus = tt['PassengerId'] + 100
print('对某列加减乘除,加法:\n',plus)
sub = tt['PassengerId'] - 10
print('对某列加减乘除,减法:\n',sub)
mul = tt['PassengerId'] * 100
print('对某列加减乘除,乘法:\n',mul)
divide = tt['PassengerId'] / 10
print('对某列加减乘除,除法:\n',divide)
## 对两列加减乘除
pp = tt['PassengerId'] + tt['Pclass']
print('对两列加减乘除,加法:\n',pp)
## 改变某列数据
tt['Pclass'] = tt['Pclass'] * 10
print('改变某列数据:\n',tt['Pclass'])
## 增加某列
tt['PassengerId100'] = plus
print('增加列:\n',tt.columns.tolist())
print(tt.head())

对某列加减乘除,加法:
 0      101
1      102
2      103
3      104
4      105
5      106
6      107
7      108
8      109
9      110
10     111
11     112
12     113
13     114
14     115
15     116
16     117
17     118
18     119
19     120
20     121
21     122
22     123
23     124
24     125
25     126
26     127
27     128
28     129
29     130
      ...
861    962
862    963
863    964
864    965
865    966
866    967
867    968
868    969
869    970
870    971
871    972
872    973
873    974
874    975
875    976
876    977
877    978
878    979
879    980
880    981
881    982
882    983
883    984
884    985
885    986
886    987
887    988
888    989
889    990
890    991
Name: PassengerId, Length: 891, dtype: int64
对某列加减乘除,减法:
 0       -9
1       -8
2       -7
3       -6
4       -5
5       -4
6       -3
7       -2
8       -1
9        0
10       1
11       2
12       3
13       4
14       5
15       6
16       7
17       8
18       9
19      10
20      11
21      12
22      13
23      14
24      15
25      16
26      17
27      18
28      19
29      20
      ...
861    852
862    853
863    854
864    855
865    856
866    857
867    858
868    859
869    860
870    861
871    862
872    863
873    864
874    865
875    866
876    867
877    868
878    869
879    870
880    871
881    872
882    873
883    874
884    875
885    876
886    877
887    878
888    879
889    880
890    881
Name: PassengerId, Length: 891, dtype: int64
对某列加减乘除,乘法:
 0        100
1        200
2        300
3        400
4        500
5        600
6        700
7        800
8        900
9       1000
10      1100
11      1200
12      1300
13      1400
14      1500
15      1600
16      1700
17      1800
18      1900
19      2000
20      2100
21      2200
22      2300
23      2400
24      2500
25      2600
26      2700
27      2800
28      2900
29      3000
       ...
861    86200
862    86300
863    86400
864    86500
865    86600
866    86700
867    86800
868    86900
869    87000
870    87100
871    87200
872    87300
873    87400
874    87500
875    87600
876    87700
877    87800
878    87900
879    88000
880    88100
881    88200
882    88300
883    88400
884    88500
885    88600
886    88700
887    88800
888    88900
889    89000
890    89100
Name: PassengerId, Length: 891, dtype: int64
对某列加减乘除,除法:
 0       0.1
1       0.2
2       0.3
3       0.4
4       0.5
5       0.6
6       0.7
7       0.8
8       0.9
9       1.0
10      1.1
11      1.2
12      1.3
13      1.4
14      1.5
15      1.6
16      1.7
17      1.8
18      1.9
19      2.0
20      2.1
21      2.2
22      2.3
23      2.4
24      2.5
25      2.6
26      2.7
27      2.8
28      2.9
29      3.0
       ...
861    86.2
862    86.3
863    86.4
864    86.5
865    86.6
866    86.7
867    86.8
868    86.9
869    87.0
870    87.1
871    87.2
872    87.3
873    87.4
874    87.5
875    87.6
876    87.7
877    87.8
878    87.9
879    88.0
880    88.1
881    88.2
882    88.3
883    88.4
884    88.5
885    88.6
886    88.7
887    88.8
888    88.9
889    89.0
890    89.1
Name: PassengerId, Length: 891, dtype: float64
对两列加减乘除,加法:
 0        4
1        3
2        6
3        5
4        8
5        9
6        8
7       11
8       12
9       12
10      14
11      13
12      16
13      17
14      18
15      18
16      20
17      20
18      22
19      23
20      23
21      24
22      26
23      25
24      28
25      29
26      30
27      29
28      32
29      33
      ...
861    864
862    864
863    867
864    867
865    868
866    869
867    869
868    872
869    873
870    874
871    873
872    874
873    877
874    877
875    879
876    880
877    881
878    882
879    881
880    883
881    885
882    886
883    886
884    888
885    889
886    889
887    889
888    892
889    891
890    894
Length: 891, dtype: int64
改变某列数据:
 0      30
1      10
2      30
3      10
4      30
5      30
6      10
7      30
8      30
9      20
10     30
11     10
12     30
13     30
14     30
15     20
16     30
17     20
18     30
19     30
20     20
21     20
22     30
23     10
24     30
25     30
26     30
27     10
28     30
29     30
       ..
861    20
862    10
863    30
864    20
865    20
866    20
867    10
868    30
869    30
870    30
871    10
872    10
873    30
874    20
875    30
876    30
877    30
878    30
879    10
880    20
881    30
882    30
883    20
884    30
885    30
886    20
887    10
888    30
889    10
890    30
Name: Pclass, Length: 891, dtype: int64
增加列:
 ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'PassengerId100']
   PassengerId  Survived  Pclass  \
0            1         0      30
1            2         1      10
2            3         1      30
3            4         1      10
4            5         0      30

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  PassengerId100
0      0         A/5 21171   7.2500   NaN        S             101
1      0          PC 17599  71.2833   C85        C             102
2      0  STON/O2. 3101282   7.9250   NaN        S             103
3      0            113803  53.1000  C123        S             104
4      0            373450   8.0500   NaN        S             105

In [26]:
# 统计列最大值、最小值、平均值、汇总值等
print('统计某列最大值:',tt['Age'].max())
print('统计某列最小值:',tt['Age'].min())
print('统计某列平均值:',tt['Age'].mean())
print('统计某列汇总值:',tt['Age'].sum())

统计某列最大值: 80.0
统计某列最小值: 0.42
统计某列平均值: 29.69911764705882
统计某列汇总值: 21205.17

In [58]:
# 按列数据进行排序
age = tt.sort_values('Age')
print('升序:\n',age)
age2 = tt.sort_values('Age',ascending=False)
print('降序:\n',age2)
age3 = tt.sort_values(['Age','Pclass'])
print('按多列排序:\n',age3)
age4 = age.reset_index(drop=True)
print('排序之后重置索引序号:\n',age4)

升序:
      PassengerId  Survived  Pclass  \
31            32         1      10
470          471         0      30
485          486         0      30
490          491         0      30
495          496         0      30
497          498         0      30
502          503         0      30
511          512         0      30
517          518         0      30
468          469         0      30
522          523         0      30
531          532         0      30
533          534         1      30
538          539         0      30
552          553         0      30
560          561         0      30
563          564         0      30
564          565         0      30
568          569         0      30
524          525         0      30
573          574         1      30
464          465         0      30
454          455         0      30
347          348         1      30
354          355         0      30
358          359         1      30
359          360         1      30
364          365         0      30
367          368         1      30
368          369         1      30
..           ...       ...     ...
11            12         1      10
659          660         0      10
94            95         0      30
232          233         0      20
366          367         1      10
587          588         1      10
694          695         0      10
684          685         0      20
625          626         0      10
170          171         0      10
326          327         0      30
555          556         0      10
829          830         1      10
252          253         0      10
570          571         1      20
483          484         1      30
275          276         1      10
545          546         0      10
438          439         0      10
456          457         0      10
54            55         0      10
280          281         0      30
33            34         0      20
745          746         0      10
672          673         0      20
116          117         0      30
96            97         0      10
493          494         0      10
851          852         0      30
630          631         1      10

                                                 Name     Sex   Age  SibSp  \
31     Spencer, Mrs. William Augustus (Marie Eugenie)  female -99.0      1
470                                 Keefe, Mr. Arthur    male -99.0      0
485                            Lefebre, Miss. Jeannie  female -99.0      3
490              Hagland, Mr. Konrad Mathias Reiersen    male -99.0      1
495                             Yousseff, Mr. Gerious    male -99.0      0
497                   Shellard, Mr. Frederick William    male -99.0      0
502                    O'Sullivan, Miss. Bridget Mary  female -99.0      0
511                                 Webber, Mr. James    male -99.0      0
517                                 Ryan, Mr. Patrick    male -99.0      0
468                                Scanlan, Mr. James    male -99.0      0
522                                Lahoud, Mr. Sarkis    male -99.0      0
531                                 Toufik, Mr. Nakli    male -99.0      0
533            Peter, Mrs. Catherine (Catherine Rizk)  female -99.0      0
538                          Risien, Mr. Samuel Beard    male -99.0      0
552                              O'Brien, Mr. Timothy    male -99.0      0
560                          Morrow, Mr. Thomas Rowan    male -99.0      0
563                                 Simmons, Mr. John    male -99.0      0
564                    Meanwell, Miss. (Marion Ogden)  female -99.0      0
568                               Doharr, Mr. Tannous    male -99.0      0
524                                 Kassem, Mr. Fared    male -99.0      0
573                                 Kelly, Miss. Mary  female -99.0      0
464                                Maisner, Mr. Simon    male -99.0      0
454                               Peduzzi, Mr. Joseph    male -99.0      0
347         Davison, Mrs. Thomas Henry (Mary E Finck)  female -99.0      1
354                                 Yousif, Mr. Wazli    male -99.0      0
358                              McGovern, Miss. Mary  female -99.0      0
359                 Mockler, Miss. Helen Mary "Ellie"  female -99.0      0
364                               O'Brien, Mr. Thomas    male -99.0      1
367                    Moussa, Mrs. (Mantoura Boulos)  female -99.0      0
368                               Jermyn, Miss. Annie  female -99.0      0
..                                                ...     ...   ...    ...
11                           Bonnell, Miss. Elizabeth  female  58.0      0
659                        Newell, Mr. Arthur Webster    male  58.0      0
94                                  Coxon, Mr. Daniel    male  59.0      0
232                         Sjostedt, Mr. Ernst Adolf    male  59.0      0
366  Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  female  60.0      1
587                  Frolicher-Stehli, Mr. Maxmillian    male  60.0      1
694                                   Weir, Col. John    male  60.0      0
684                 Brown, Mr. Thomas William Solomon    male  60.0      1
625                             Sutton, Mr. Frederick    male  61.0      0
170                         Van der hoef, Mr. Wyckoff    male  61.0      0
326                         Nysveen, Mr. Johan Hansen    male  61.0      0
555                                Wright, Mr. George    male  62.0      0
829         Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0
252                         Stead, Mr. William Thomas    male  62.0      0
570                                Harris, Mr. George    male  62.0      0
483                            Turkula, Mrs. (Hedwig)  female  63.0      0
275                 Andrews, Miss. Kornelia Theodosia  female  63.0      1
545                      Nicholson, Mr. Arthur Ernest    male  64.0      0
438                                 Fortune, Mr. Mark    male  64.0      1
456                         Millet, Mr. Francis Davis    male  65.0      0
54                     Ostby, Mr. Engelhart Cornelius    male  65.0      0
280                                  Duane, Mr. Frank    male  65.0      0
33                              Wheadon, Mr. Edward H    male  66.0      0
745                      Crosby, Capt. Edward Gifford    male  70.0      1
672                       Mitchell, Mr. Henry Michael    male  70.0      0
116                              Connors, Mr. Patrick    male  70.5      0
96                          Goldschmidt, Mr. George B    male  71.0      0
493                           Artagaveytia, Mr. Ramon    male  71.0      0
851                               Svensson, Mr. Johan    male  74.0      0
630              Barkworth, Mr. Algernon Henry Wilson    male  80.0      0

     Parch             Ticket      Fare        Cabin Embarked  PassengerId100
31       0           PC 17569  146.5208          B78        C             132
470      0             323592    7.2500          -99        S             571
485      1               4133   25.4667          -99        S             586
490      0              65304   19.9667          -99        S             591
495      0               2627   14.4583          -99        C             596
497      0          C.A. 6212   15.1000          -99        S             598
502      0             330909    7.6292          -99        Q             603
511      0   SOTON/OQ 3101316    8.0500          -99        S             612
517      0             371110   24.1500          -99        Q             618
468      0              36209    7.7250          -99        Q             569
522      0               2624    7.2250          -99        C             623
531      0               2641    7.2292          -99        C             632
533      2               2668   22.3583          -99        C             634
538      0             364498   14.5000          -99        S             639
552      0             330979    7.8292          -99        Q             653
560      0             372622    7.7500          -99        Q             661
563      0    SOTON/OQ 392082    8.0500          -99        S             664
564      0  SOTON/O.Q. 392087    8.0500          -99        S             665
568      0               2686    7.2292          -99        C             669
524      0               2700    7.2292          -99        C             625
573      0              14312    7.7500          -99        Q             674
464      0           A/S 2816    8.0500          -99        S             565
454      0           A/5 2817    8.0500          -99        S             555
347      0             386525   16.1000          -99        S             448
354      0               2647    7.2250          -99        C             455
358      0             330931    7.8792          -99        Q             459
359      0             330980    7.8792          -99        Q             460
364      0             370365   15.5000          -99        Q             465
367      0               2626    7.2292          -99        C             468
368      0              14313    7.7500          -99        Q             469
..     ...                ...       ...          ...      ...             ...
11       0             113783   26.5500         C103        S             112
659      2              35273  113.2750          D48        C             760
94       0             364500    7.2500          -99        S             195
232      0             237442   13.5000          -99        S             333
366      0             110813   75.2500          D37        C             467
587      1              13567   79.2000          B41        C             688
694      0             113800   26.5500          -99        S             795
684      1              29750   39.0000          -99        S             785
625      0              36963   32.3208          D50        S             726
170      0             111240   33.5000          B19        S             271
326      0             345364    6.2375          -99        S             427
555      0             113807   26.5500          -99        S             656
829      0             113572   80.0000          B28      -99             930
252      0             113514   26.5500          C87        S             353
570      0        S.W./PP 752   10.5000          -99        S             671
483      0               4134    9.5875          -99        S             584
275      0              13502   77.9583           D7        S             376
545      0                693   26.0000          -99        S             646
438      4              19950  263.0000  C23 C25 C27        S             539
456      0              13509   26.5500          E38        S             557
54       1             113509   61.9792          B30        C             155
280      0             336439    7.7500          -99        Q             381
33       0         C.A. 24579   10.5000          -99        S             134
745      1          WE/P 5735   71.0000          B22        S             846
672      0         C.A. 24580   10.5000          -99        S             773
116      0             370369    7.7500          -99        Q             217
96       0           PC 17754   34.6542           A5        C             197
493      0           PC 17609   49.5042          -99        C             594
851      0             347060    7.7750          -99        S             952
630      0              27042   30.0000          A23        S             731

[891 rows x 13 columns]
降序:
      PassengerId  Survived  Pclass  \
630          631         1      10
851          852         0      30
493          494         0      10
96            97         0      10
116          117         0      30
672          673         0      20
745          746         0      10
33            34         0      20
280          281         0      30
54            55         0      10
456          457         0      10
438          439         0      10
545          546         0      10
483          484         1      30
275          276         1      10
570          571         1      20
252          253         0      10
829          830         1      10
555          556         0      10
326          327         0      30
170          171         0      10
625          626         0      10
684          685         0      20
694          695         0      10
587          588         1      10
366          367         1      10
232          233         0      20
94            95         0      30
659          660         0      10
195          196         1      10
..           ...       ...     ...
384          385         0      30
368          369         1      30
367          368         1      30
364          365         0      30
359          360         1      30
358          359         1      30
354          355         0      30
454          455         0      30
464          465         0      30
573          574         1      30
524          525         0      30
568          569         0      30
564          565         0      30
563          564         0      30
560          561         0      30
552          553         0      30
538          539         0      30
533          534         1      30
531          532         0      30
522          523         0      30
468          469         0      30
517          518         0      30
511          512         0      30
502          503         0      30
497          498         0      30
495          496         0      30
490          491         0      30
485          486         0      30
470          471         0      30
31            32         1      10

                                                 Name     Sex   Age  SibSp  \
630              Barkworth, Mr. Algernon Henry Wilson    male  80.0      0
851                               Svensson, Mr. Johan    male  74.0      0
493                           Artagaveytia, Mr. Ramon    male  71.0      0
96                          Goldschmidt, Mr. George B    male  71.0      0
116                              Connors, Mr. Patrick    male  70.5      0
672                       Mitchell, Mr. Henry Michael    male  70.0      0
745                      Crosby, Capt. Edward Gifford    male  70.0      1
33                              Wheadon, Mr. Edward H    male  66.0      0
280                                  Duane, Mr. Frank    male  65.0      0
54                     Ostby, Mr. Engelhart Cornelius    male  65.0      0
456                         Millet, Mr. Francis Davis    male  65.0      0
438                                 Fortune, Mr. Mark    male  64.0      1
545                      Nicholson, Mr. Arthur Ernest    male  64.0      0
483                            Turkula, Mrs. (Hedwig)  female  63.0      0
275                 Andrews, Miss. Kornelia Theodosia  female  63.0      1
570                                Harris, Mr. George    male  62.0      0
252                         Stead, Mr. William Thomas    male  62.0      0
829         Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0
555                                Wright, Mr. George    male  62.0      0
326                         Nysveen, Mr. Johan Hansen    male  61.0      0
170                         Van der hoef, Mr. Wyckoff    male  61.0      0
625                             Sutton, Mr. Frederick    male  61.0      0
684                 Brown, Mr. Thomas William Solomon    male  60.0      1
694                                   Weir, Col. John    male  60.0      0
587                  Frolicher-Stehli, Mr. Maxmillian    male  60.0      1
366  Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  female  60.0      1
232                         Sjostedt, Mr. Ernst Adolf    male  59.0      0
94                                  Coxon, Mr. Daniel    male  59.0      0
659                        Newell, Mr. Arthur Webster    male  58.0      0
195                              Lurette, Miss. Elise  female  58.0      0
..                                                ...     ...   ...    ...
384                            Plotcharsky, Mr. Vasil    male -99.0      0
368                               Jermyn, Miss. Annie  female -99.0      0
367                    Moussa, Mrs. (Mantoura Boulos)  female -99.0      0
364                               O'Brien, Mr. Thomas    male -99.0      1
359                 Mockler, Miss. Helen Mary "Ellie"  female -99.0      0
358                              McGovern, Miss. Mary  female -99.0      0
354                                 Yousif, Mr. Wazli    male -99.0      0
454                               Peduzzi, Mr. Joseph    male -99.0      0
464                                Maisner, Mr. Simon    male -99.0      0
573                                 Kelly, Miss. Mary  female -99.0      0
524                                 Kassem, Mr. Fared    male -99.0      0
568                               Doharr, Mr. Tannous    male -99.0      0
564                    Meanwell, Miss. (Marion Ogden)  female -99.0      0
563                                 Simmons, Mr. John    male -99.0      0
560                          Morrow, Mr. Thomas Rowan    male -99.0      0
552                              O'Brien, Mr. Timothy    male -99.0      0
538                          Risien, Mr. Samuel Beard    male -99.0      0
533            Peter, Mrs. Catherine (Catherine Rizk)  female -99.0      0
531                                 Toufik, Mr. Nakli    male -99.0      0
522                                Lahoud, Mr. Sarkis    male -99.0      0
468                                Scanlan, Mr. James    male -99.0      0
517                                 Ryan, Mr. Patrick    male -99.0      0
511                                 Webber, Mr. James    male -99.0      0
502                    O'Sullivan, Miss. Bridget Mary  female -99.0      0
497                   Shellard, Mr. Frederick William    male -99.0      0
495                             Yousseff, Mr. Gerious    male -99.0      0
490              Hagland, Mr. Konrad Mathias Reiersen    male -99.0      1
485                            Lefebre, Miss. Jeannie  female -99.0      3
470                                 Keefe, Mr. Arthur    male -99.0      0
31     Spencer, Mrs. William Augustus (Marie Eugenie)  female -99.0      1

     Parch             Ticket      Fare        Cabin Embarked  PassengerId100
630      0              27042   30.0000          A23        S             731
851      0             347060    7.7750          -99        S             952
493      0           PC 17609   49.5042          -99        C             594
96       0           PC 17754   34.6542           A5        C             197
116      0             370369    7.7500          -99        Q             217
672      0         C.A. 24580   10.5000          -99        S             773
745      1          WE/P 5735   71.0000          B22        S             846
33       0         C.A. 24579   10.5000          -99        S             134
280      0             336439    7.7500          -99        Q             381
54       1             113509   61.9792          B30        C             155
456      0              13509   26.5500          E38        S             557
438      4              19950  263.0000  C23 C25 C27        S             539
545      0                693   26.0000          -99        S             646
483      0               4134    9.5875          -99        S             584
275      0              13502   77.9583           D7        S             376
570      0        S.W./PP 752   10.5000          -99        S             671
252      0             113514   26.5500          C87        S             353

In [40]:
# 求缺失值
age = tt['Age']
age_is_null = pd.isnull(age)
#print(age_is_null)
age_is_null_true = age[age_is_null]
#print(age_is_null_true)
print('null值数量:',len(age_is_null_true))
age_is_not_null = age[age_is_null == False]
print('not null值数量:',len(age_is_not_null))

null值数量: 177
not null值数量: 714

In [45]:
# 按列分组统计数据,group by操作
pa_mean = tt.pivot_table(index='Pclass',values='Age')
print('按列分组求平均值:\n',pa_mean)
pa_mean2 = tt.pivot_table(index='Pclass',values='Age',aggfunc=np.mean)
print('按列分组求平均值:\n',pa_mean2)
pa_max = tt.pivot_table(index='Pclass',values='Age',aggfunc=np.max)
print('按列分组求最大值:\n',pa_max)
pa_min = tt.pivot_table(index='Pclass',values='Age',aggfunc=np.min)
print('按列分组求最小值:\n',pa_min)
pa_sum = tt.pivot_table(index='Pclass',values='Age',aggfunc=np.sum)
print('按列分组求汇总值:\n',pa_sum)
pa_len = tt.pivot_table(index='Pclass',values='Age',aggfunc=len)
print('按列分组求count值:\n',pa_len)
paf_mean = tt.pivot_table(index='Pclass',values=['Age','Fare'])
print('按列分组求多列的平均值:\n',paf_mean)

按列分组求平均值:
               Age
Pclass
10      38.233441
20      29.877630
30      25.140620
按列分组求平均值:
               Age
Pclass
10      38.233441
20      29.877630
30      25.140620
按列分组求最大值:
          Age
Pclass
10      80.0
20      70.0
30      74.0
按列分组求最小值:
          Age
Pclass
10      0.92
20      0.67
30      0.42
按列分组求汇总值:
             Age
Pclass
10      7111.42
20      5168.83
30      8924.92
按列分组求count值:
           Age
Pclass
10      216.0
20      184.0
30      491.0
按列分组求多列的平均值:
               Age       Fare
Pclass
10      38.233441  84.154687
20      29.877630  20.662183
30      25.140620  13.675550

In [62]:
# 处理缺失值
print('原始结构:',tt.shape)
# 按列处理缺失值,只要列中存在NaN值则删除此列
dp = tt.dropna(axis=1)
print('按列处理后的结构,只要列中存在NaN值则删除此列:',dp.shape)
# 按行处理缺失值,只要行中存在NaN值则删除此行
dp2 = tt.dropna(axis=0)
print('按行处理后的机构,只要行中存在NaN值则删除此行:',dp2.shape)
# 按行处理缺失值,只要行中的指定列存在NaN值才删除此行
dp3 = tt.dropna(axis=0,subset=['Age','Fare'])
print('按行处理后的机构,只要行中的指定列存在NaN值才删除此行:',dp3.shape)
# 给所有的缺失值赋予一个默认值
tt.fillna(value=-99,axis=1,inplace=True) # inplace=True代表不新生成一个dataframe
tt.sort_values(['Age','Pclass'],inplace=True)
print(tt.head())

原始结构: (891, 12)
按列处理后的结构,只要列中存在NaN值则删除此列: (891, 9)
按行处理后的机构,只要行中存在NaN值则删除此行: (183, 12)
按行处理后的机构,只要行中的指定列存在NaN值才删除此行: (714, 12)
     PassengerId  Survived  Pclass  \
31            32         1       1
55            56         1       1
64            65         0       1
166          167         1       1
168          169         0       1

                                               Name     Sex   Age  SibSp  \
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female -99.0      1
55                                Woolner, Mr. Hugh    male -99.0      0
64                            Stewart, Mr. Albert A    male -99.0      0
166          Chibnall, Mrs. (Edith Martha Bowerman)  female -99.0      0
168                             Baumann, Mr. John D    male -99.0      0

     Parch    Ticket      Fare Cabin Embarked
31       0  PC 17569  146.5208   B78        C
55       0     19947   35.5000   C52        S
64       0  PC 17605   27.7208   -99        C
166      1    113505   55.0000   E33        S
168      0  PC 17318   25.9250   -99        S

In [67]:
# 自定义函数统计
# 统计每列的缺失值数量，不为缺失值数量
def null_count(column):
    return len(tt[pd.isnull(column)])
def not_null_count(column):
    null = pd.isnull(column)
    return len(tt[null == False])
print('各列缺失值数量:\n',tt.apply(null_count))
print('各列有值数量:\n',tt.apply(not_null_count))

# 转变每行中的某列值
def age_row(row):
    age = row.Age
    if pd.isnull(age):
        return '未知年龄'
    elif age>=18:
        return '成年人'
    else:
        return '未成年人'

age_n = tt.apply(age_row,axis=1)
tt['Age_n'] = age_n
age_group = tt.pivot_table(index='Age_n',values=['Pclass','Fare'])
print('转变每行中的某列值:\n',age_group)

各列缺失值数量:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
各列有值数量:
 PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64
转变每行中的某列值:
             Fare    Pclass
Age_n
成年人    35.347642  2.171381
未成年人   31.220798  2.584071
未知年龄   22.158567  2.598870